.App-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

button:focus {
  outline: 0;
}

.btn-primary:before {
  /* content: "\1F603"; */
  content: "\2BA9";
}

.btn-primary {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 43px;
  background: #007bff;
  padding: 25px 40px 25px 40px;
  border: solid #007bff 1px;
  text-decoration: none;
}

.btn-primary:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0875ea;
  border-color: #0062cc;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-danger:before {
  /* content: "\1F614"; */
  content: "\2BAA";
}

.btn-danger {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 43px;
  background: #dc3545;
  padding: 25px 40px 25px 40px;
  border: solid #dc3545 1px;
  text-decoration: none;
}

.btn-danger:hover {
  text-decoration: none;
  color: #fff;
  background-color: #dc3545;
  border-color: #bd2130;
  cursor: pointer;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
